<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714618580752-2ujbspq5t4dv8qevhfmd2v77u0jh3b4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714618580752-2ujbspq5t4dv8qevhfmd2v77u0jh3b4q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714618580752-1226lueul64hqede7g8dl8jp2c0gjq1v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEEeyurr4HeQw3XPEpcfMUCNJxfiwo7d8</string>
	<key>GCM_SENDER_ID</key>
	<string>714618580752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flopez.push-app</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-course</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-course.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714618580752:ios:06bc9434e54a6f036dbf95</string>
</dict>
</plist>